body {
    background: #f3f3f3;
}

.header{
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffffff;
    text-align: center;
}

.column{
}

.call-status-icon{
    height: 25px;
}

.call-element{
    padding-left: 10px;
    padding-right: 10px;
}

.call-row {
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    background-color: #ffffff;
}

.call-column{
    position: -webkit-sticky;
    position: sticky;
    padding-top: 10px;
    top: 160px;
    width: 260px;
}

.dial-pad-panel{
    position: -webkit-sticky;
    position: sticky;
    padding-top: 10px;
    top: 160px;
    background: #ffffff;
    overflow:hidden;
    border-radius: 15px;
    width: 260px;
}


.phone-input {
    text-align: center;
    width: 210px;
}

.dial-pad{
    margin: 10px;
}

.dial-button{
    width: 70px;
    height: 70px;
}

.call-column-footer{
    padding: 10px;
    background: #e7e7e7;
}

.call-panel{
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    background: white;
}

.docall-button{
    margin: 5px;
    width: 5em;
    height: 5em;
    background-image: url("../icons/phone-24px.svg");
    background-size: 5em;
    alignment: center;
    border-radius: 50%;
    border-width: 0px;
    background-color: white;
}




.calls-row{
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.calls-row {
    display: table;
    border-spacing: 10px;
}
.calls-column {
    display: table-cell;
}

.incoming{
    width: 2em;
    height: 2em;
    background-image: url(../icons/incoming.svg);
    background-size: 2em;
    border-radius: 50%;
    alignment: center;

}


.outgoing{
    width: 2em;
    height: 2em;
    background-image: url(../icons/outgoing.svg);
    background-size: 2em;
    border-radius: 50%;
    alignment: center;
}


.no-answer{
    width: 2em;
    height: 2em;
    background-image: url(../icons/no-answer.svg);
    background-size: 2em;
    border-radius: 50%;
    alignment: center;
}

.callback{
    width: 3em;
    height: 3em;
    background-image: url("../icons/phone-24px.svg");
    background-size: 3em;
    alignment: center;
    border-radius: 50%;
    border-width: 0px;
    background-color: white;
}
