body {
    background: #ececec;
}

.header{
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    padding: 10px;
}

.column{
}

.call-status-icon{
    height: 25px;
}

.call-element{
    padding-left: 10px;
    padding-right: 10px;
}

.call-row {
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.add-friend-panel{
    padding-top: 10px;
    font-style: normal;
    border-radius: 0px;
    border-top: 1px solid black;
    border-width: 1px
}

.row-heading{
    font-style: italic;
}

.call-column{
    /*position:fixed;*/
    /*position: -webkit-sticky;
    position: sticky;*/
    padding-top: 10px;
    top: 150px;
    width: 260px;
}

.dial-pad-panel{
    position: -webkit-sticky;
    position: sticky;
    padding-top: 10px;
    background: #ffffff;
    overflow:hidden;
    border-radius: 15px;
    width: 260px;
}

.phone-input {
    text-align: center;
    width: 210px;
}

.dial-pad{
    margin: 10px;
}

.dial-button{
    width: 70px;
    height: 70px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.call-column-footer{
    padding: 10px;
    background: #e7e7e7;
}

.call-panel{
    padding: 10px;
    border-radius: 15px;
    background: white;
}

.docall-button{
    margin: 5px;
    width: 5em;
    height: 5em;
    background-image: url("../icons/phone-24px.svg");
    background-size: 5em;
    alignment: center;
    border-radius: 50%;
    border-width: 0px;
    background-color: white;
}

.mytable-row {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    display: table;
    border-spacing: 10px;

}

.mytable-button{
    vertical-align: top;
}


.incoming{
    width: 3em;
    height: 3em;
    background-image: url(../icons/incoming.svg);
    background-size: 3em;
    border-radius: 50%;
    border-width: 0px;
}

.outgoing{
    width: 3em;
    height: 3em;
    background-image: url(../icons/outgoing.svg);
    background-size: 3em;
    border-radius: 50%;
    border-width: 0px;
}

.no-answer{
    width: 3em;
    height: 3em;
    background-image: url(../icons/no-answer.svg);
    background-size: 3em;
    border-radius: 50%;
    border-width: 0px;
}

.friendButton{
    width: 3em;
    height: 3em;
    background-size: 3em;
    border-width: 0px;
}

.friendDelete{
    background-image: url("../icons/friendDelete.svg");
}

.friendAdd{
    background-image: url("../icons/friendAdd.svg");
}

.callback{
    width: 3em;
    height: 3em;
    background-image: url("../icons/phone-24px.svg");
    background-size: 3em;
    border-radius: 50%;
    border-width: 0px;
}

.close{
    width: 1em;
    height: 1em;
    background-image: url("../icons/close-24px.svg");
    background-size: 1em;
    border-radius: 50%;
    border-width: 0px;
    padding-top: 10px;
    padding-right: 10px;
}
