<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Calling friend</title>

    <script type = "text/javascript"
            src ="//media.twiliocdn.com/sdk/js/client/v1.7/twilio.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script type="text/javascript" src="js/src/MainCtrl.js" ></script>
    <script type="text/javascript" src="js/src/HistoryController.js" ></script>
    <script type="text/javascript" src="js/src/CallController.js" ></script>
    <script type="text/javascript" src="js/src/FriendController.js" ></script>
    <script type="text/javascript" src="js/src/UIScript.js" ></script>
</head>

<body ng-app="myApp" ng-controller="MainCtrl">

    <nav class="navbar mx-auto navbar-expand-lg navbar-dark bg-primary sticky-top header">
        <ul class="mx-auto order-0">
            <form>
                <h2>Hello {{user.firstname}}!</h2>
                <h6>your phone is {{user.phonenumber}}</h6>
            </form>

            <a class="navbar-brand" href="#!calls">Calls history</a>
            <a class="navbar-brand" href="#!friends">Friends</a>
            <a class="navbar-brand" href="" ng-click="logout()">Logout</a>

        </ul>
    </nav>



    <div class="container" align="center">
        <div class="row">

            <div class="col-md-0 order-md-1 col-lg-3">
            </div>

            <div class="col-12 order-2 col-md-8 order-md-2 col-lg-6">
                <div class="ng-view"></div>
            </div>

            <div class="col-12 order-1 col-md-4 order-md-3 col-lg-3" ng-controller="CallController">
                <div class="column call-column sticky-top">
                    <div class=" d-none d-md-block dial-pad-panel" ng-show="TWconnected">

                        <form>

                            <input ng-model="toNumber" ng-change="change()" ng-blur="unfocus()" class="form-control phone-input"
                                   ng-class="{'is-valid': valid, 'is-invalid': invalid}"
                                   maxlength="15" type="text"
                                   placeholder="+1 123 456 7890">

                            <div class="invalid-feedback">
                                {{invalidMessage}}
                            </div>

                        </form>

                        <table align="center" class="dial-pad">

                            <tbody>

                            <tr>
                                <td><button ng-click="pressNumber(1)" class="btn btn-outline-primary dial-button">1</button></td>
                                <td><button ng-click="pressNumber(2)" class="btn btn-outline-primary dial-button">2</button></td>
                                <td><button ng-click="pressNumber(3)" class="btn btn-outline-primary dial-button">3</button></td>
                            </tr>
                            <tr>
                                <td><button ng-click="pressNumber(4)" class="btn btn-outline-primary dial-button">4</button></td>
                                <td><button ng-click="pressNumber(5)" class="btn btn-outline-primary dial-button">5</button></td>
                                <td><button ng-click="pressNumber(6)" class="btn btn-outline-primary dial-button">6</button></td>
                            </tr>
                            <tr>
                                <td><button ng-click="pressNumber(7)" class="btn btn-outline-primary dial-button">7</button></td>
                                <td><button ng-click="pressNumber(8)" class="btn btn-outline-primary dial-button">8</button></td>
                                <td><button ng-click="pressNumber(9)" class="btn btn-outline-primary dial-button">9</button></td>
                            </tr>

                            <tr>
                                <td>

                                </td>
                                <td>
                                    <button ng-click="pressNumber(0)" class="btn btn-outline-primary dial-button">0</button>
                                </td>
                                <td>
                                    <svg ng-click="deleteLast()" class="bi bi-backspace btn btn-outline-primary dial-button" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-7.08a1 1 0 0 1-.76-.35L1 8l4.844-5.65A1 1 0 0 1 6.603 2zm7.08-1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08z"/>
                                        <path fill-rule="evenodd" d="M5.83 5.146a.5.5 0 0 0 0 .708l5 5a.5.5 0 0 0 .707-.708l-5-5a.5.5 0 0 0-.708 0z"/>
                                        <path fill-rule="evenodd" d="M11.537 5.146a.5.5 0 0 1 0 .708l-5 5a.5.5 0 0 1-.708-.708l5-5a.5.5 0 0 1 .707 0z"/>
                                    </svg>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                        <div class="myCall-column-footer">
                            <button ng-click="outgoingCall()" class="docall-button btn btn-outline-light"></button>
                        </div>

                    </div>

                    <div class="call-panel" ng-show="ActiveCall">

                        <div ng-show="ActiveInbound">
                            <h4>Incoming call from: </h4>
                            <h4>{{from}}</h4>
                            <div ng-show="InboundOption">
                                <button ng-click="accept()" class="btn btn-success" type="submit">accept call</button>
                                <button ng-click="reject()" class="btn btn-warning" type="submit">reject call</button>
                            </div>
                        </div>

                        <div ng-show="ActiveOutbound">
                            <p>Outgoing call to:</p>
                            <p>{{to}}</p>
                        </div>

                        <button class="btn btn-danger" ng-click="endCall()" type="submit" ng-show="EndActive">end call</button>
                    </div>
                </div>

            </div>
        </div>
        </div>

</body>
</html>
