<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Calling friend</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body>

<div class="container-fluid" align="center">

    <div th:if="${param.error}" >
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <h1><i>Calling friend</i></h1>
    <h2>Sign in</h2>

    <form th:action="@{/login}" method="post">

        <div class="form-col">

            <div class="col-md-4 mb-3">
                <label>Login</label>
                <input class="form-control" type="email"  placeholder="Enter login" required name="username"/>
            </div>

            <div class="col-md-4 mb-3">
                <label>Password</label>
                <input class="form-control" type="password"  placeholder="Enter password" required name="password"/>
            </div>

            <div class="col-md-4 mb-3">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </div>
    </form>

    <form th:action="@{/registration}">
        <div class="col-md-4 mb-3">
            <button class="btn btn-primary">Registration</button>
        </div>
    </form>

</div>
</body>
</html>
