<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Calling friend</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

        <div class="container-fluid" align="center">
            <h1><i>Calling friend</i></h1>
            <h2>Sign in</h2>
            <div class="col-md-12">

                <form th:object="${mainForm}" method="post" class="needs-validation" novalidate>
                    <div class="col-md-4 mb-3">
                        <label>login</label>
                        <input type="email" class="form-control" th:field="*{email}"placeholder="email">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Password</label>
                        <input type="password" class="form-control" th:field="*{password}" placeholder="password">
                    </div>

                    <div class="col-md-4 mb-3">

                    </div>

                    <div class="col-md-4 mb-3">
                        <button class="btn btn-primary" type="submit" th:action="@{/mainForm}">login</button>
                    </div>

                </form>

                <form action="/registration" class="needs-validation" novalidate>
                    <div class="col-md-4 mb-3">
                        <button class="btn btn-primary">Registration</button>
                    </div>
                </form>
            </div>

        </div>


</body>

</html>
